@import url("https://fonts.googleapis.com/css?family=Acme");
body {
  background-color: #333333;
  margin: 0;
  padding: 0;
}

.title {
  font-family: 'Acme', sans-serif;
  font-size: 50px;
  text-align: center;
  border: 1px dashed #555555;
  margin: 0;
  padding: 10px 0;
  color: white;
}

.button_container {
  /*This is container of hover button*/
  width: inherit;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button1, .button2, .button3, .button4 {
  /*This is group of hover button*/
  margin: 50px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.button1 p, .button2 p, .button3 p, .button4 p {
  font-size: 30px;
  margin: 0;
  padding: 10px 50px;
  color: #f8f8f8;
  font-family: 'Acme', sans-serif;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

/*This is hover button 1*/
.button1 {
  position: relative;
  background-color: transparent;
  border: 1px solid #555555;
  display: block;
  -webkit-transform: skewX(30deg);
          transform: skewX(30deg);
  overflow: hidden;
}

.button1 p {
  -webkit-transform: skewX(-30deg);
          transform: skewX(-30deg);
}

.button1 p:hover ~ .effect {
  left: 300px;
}

.button1 .effect {
  position: absolute;
  top: -70px;
  left: -100px;
  width: 50px;
  height: 200px;
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
  background-color: rgba(255, 255, 255, 0.5);
  z-index: -1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

/*This is hover button 2*/
.button2 {
  display: block;
  position: relative;
  background-color: transparent;
  border: 1px solid #555555;
  overflow: hidden;
}

.button2 p:hover {
  color: #222222;
}

.button2 p:hover ~ .effect {
  top: 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.button2 .effect {
  position: absolute;
  left: 0;
  top: -80px;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: -1;
}

/*This is hover button 3*/
.button3 {
  display: block;
  position: relative;
  background-color: transparent;
  border: 1px solid #555555;
}

.button3 p {
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.button3 p:hover {
  color: #000;
}

.button3 p:hover ~ .effect {
  width: 100%;
}

.button3 .effect {
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 0px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: -1;
}

/*This is hover button 4*/
.button4 {
  display: block;
  position: relative;
  background-color: transparent;
  border: 1px solid #555555;
  -webkit-transform: skewX(-30deg);
          transform: skewX(-30deg);
  overflow: hidden;
}

.button4 P {
  -webkit-transform: skewX(30deg);
          transform: skewX(30deg);
}

.button4 P:hover ~ .effect {
  left: 300px;
}

.button4 .effect {
  position: absolute;
  left: -100px;
  top: -50px;
  width: 50px;
  height: 150px;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: -1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
/*# sourceMappingURL=style.css.map */